/* default.css */
/* Modern responsive design styling. */

html, body {
    --theme-color: #21da56;

    font-family: Noto Sans, sans-serif;
    font-size: large;

    background: #f5f5f5;
    color: #020202;
}

a {
    color: var(--theme-color);
}

header {
    margin: 0.5em 1%;
}

header h1 {
    margin: 0.1em 0;
}

header .site-tagline {
    color: var(--theme-color);
}

main {
    margin: 1em 15% 1em 5%;
    padding: 0;
}

main h2 {
    margin: 0;
    padding: 1em 0 0 0;
}

/* Medium size screens */
@media screen and (min-width: 800px) {
    html, body {
        font-size: medium;
    }

    header {
        margin: 0.5em 5%;
    }

    main {
        margin: 1em 40% 1em 10%;
    }
}
