<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ "css/normalize.css" | absURL }}">
  <link rel="stylesheet" type="text/css" href="{{ "css/default.css" | absURL }}">
</head>
<body>
{{ block "main" . }}
{{ end }}
</body>
</html>
