<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark light">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ "css/normalize.css" | relURL }}">
  <link rel="stylesheet" type="text/css" href="{{ "css/default.css" | relURL }}">
</head>
<body>
{{ block "header" . }}
{{ end }}
{{ block "main" . }}
{{ end }}
{{ block "footer" . }}
{{ end }}
</body>
</html>
