{{ define "footer" }}
<footer>
  <p xmlns:cc="http://creativecommons.org/ns#">Except where otherwise noted,
  all content authored by <span property="cc:attributionName">Hector
  Escobedo</span> on this website is licensed under
  a <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"
  rel="license noopener noreferrer">Creative Commons Attribution-ShareAlike 4.0
  International Public License</a> and thus may be freely shared and adapted
  for any purpose, so long as the resulting work is made available under a
  compatible license.</p>
  <p>The background
  image <a href="https://www.flickr.com/photos/94852245@N00/4348274274">"free
  seamless galvanized steel texture"</a> by seier+seier is licensed
  under <a href="https://creativecommons.org/licenses/by/2.0/"
  target="_blank">CC-BY-2.0</a>.</p>
</footer>
{{ end }}
