{{ define "header" }}
<header>
  <div class="site-logo-box">
    {{ readFile "static/hae_dot_logo.svg" | safeHTML }}
  </div>
  <nav>
    <a href="/">
      <h2>{{ .Site.Title }}</h2>
      <span class="site-tagline"><em>{{ .Site.Params.tagline }}</em></span>
    </a>
  </nav>
  <h1>{{ .Title }}</h1>
</header>
{{ end }}
